In [24]:
import pandas as pd
# import numpy as np
pd.set_option("max_columns", None) # all df cols

from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import OneHotEncoder, StandardScaler
# from sklearn.impute import SimpleImputer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline, make_pipeline
# from sklearn.compose import ColumnTransformer, make_column_transformer
# from sklearn.neural_network import MLPClassifier
from sklearn import set_config
set_config(display='diagram') # Để trực quan hóa pipeline

Description

In [16]:
with open('../Data/raw_description.txt', 'r') as f:
    for line in f:
        print(line.strip())

Date : Date
H_Rk : Home Rank
H_Team : Home Team
H_G : Home Games
H_MP : Home Minutes Played
H_FG : Home Field Goals
H_FGA : Home Field Goal Attempts
H_FG% : Home Field Goal Percentage
H_3P : Home 3-Point Field Goals
H_3PA : Home 3-Point Field Goal Attempts
H_3P% : Home 3-Point Field Goal Percentage
H_2P : Home 2-Point Field Goals
H_2PA : Home 2-point Field Goal Attempts
H_2P% : Home 2-Point Field Goal Percentage
H_FT : Home Free Throws
H_FTA : Home Free Throw Attempts
H_FT% : Home Free Throw Percentage
H_ORB : Home Offensive Rebounds
H_DRB : Home Defensive Rebounds
H_TRB : Home Total Rebounds
H_AST : Home Assists
H_STL : Home Steals
H_BLK : Home Blocks
H_TOV : Home Turnovers
H_PF : Home Personal Fouls
H_PTS : Home Points
A_Rk : Away Rank
A_Team : Away Team
A_G : Away Games
A_MP : Away Minutes Played
A_FG : Away Field Goals
A_FGA : Away Field Goal Attempts
A_FG% : Away Field Goal Percentage
A_3P : Away 3-Point Field Goals
A_3PA : Away 3-Point Field Goal Attempts
A_3P% : Away 3-Point Field Goal Percentage
A_2P : Away 2-Point Field Goals
A_2PA : Away 2-point Field Goal Attempts
A_2P% : Away 2-Point Field Goal Percentage
A_FT : Away Free Throws
A_FTA : Away Free Throw Attempts
A_FT% : Away Free Throw Percentage
A_ORB : Away Offensive Rebounds
A_DRB : Away Defensive Rebounds
A_TRB : Away Total Rebounds
A_AST : Away Assists
A_STL : Away Steals
A_BLK : Away Blocks
A_TOV : Away Turnovers
A_PF : Away Personal Fouls
A_PTS : Away Points

In [7]:
data_df = pd.read_csv('../Data/data.csv')
data_df.head()

,Date,H_aveTeam,H_ave3P,H_ave3PA,H_ave2P,H_ave2PA,H_aveFT,H_aveFTA,H_aveORB,H_aveDRB,H_aveAST,H_aveSTL,H_aveBLK,H_aveTOV,H_avePF,A_aveTeam,A_ave3P,A_ave3PA,A_ave2P,A_ave2PA,A_aveFT,A_aveFTA,A_aveORB,A_aveDRB,A_aveAST,A_aveSTL,A_aveBLK,A_aveTOV,A_avePF,H_Dif
0,"July 20, 2021",MIL,8.80,24.700000,31.000000,58.300000,18.300000,23.400000,8.400000,31.500000,23.200000,8.80,5.400000,13.800000,21.400000,PHO,9.300000,27.900000,29.100000,59.200000,17.700000,23.900000,10.300,33.900000,21.300000,6.900000,4.500,15.700000,22.00,7
1,"July 17, 2021",PHO,7.65,26.450000,30.550000,60.100000,16.850000,21.450000,8.150000,32.450000,17.650000,8.95,4.250000,14.850000,21.500000,MIL,7.400000,25.850000,31.000000,56.650000,21.650000,26.200000,9.700,36.750000,21.600000,9.400000,5.700,15.900000,19.20,-4
2,"July 14, 2021",MIL,9.60,26.566667,32.666667,57.433333,17.433333,23.133333,10.133333,33.166667,23.066667,8.60,4.133333,14.266667,18.466667,PHO,9.433333,23.966667,32.033333,62.733333,14.566667,17.966667,8.100,30.633333,19.433333,8.966667,4.500,12.566667,21.00,6
3,"July 11, 2021",MIL,8.95,27.175000,32.500000,60.075000,19.075000,24.600000,11.850000,32.625000,22.800000,9.20,3.850000,11.950000,18.350000,PHO,8.825000,23.725000,32.275000,60.800000,14.925000,18.225000,7.325,31.725000,19.075000,7.475000,5.625,13.675000,21.75,20
4,"July 8, 2021",PHO,8.86,25.180000,32.020000,59.040000,14.140000,17.780000,7.060000,31.380000,19.460000,6.58,5.100000,13.740000,22.200000,MIL,9.960000,28.940000,31.800000,58.860000,19.260000,24.880000,12.080,32.900000,23.840000,8.960000,3.480,11.360000,18.28,10

In [8]:
data_df.shape

(3626, 30)

In [17]:
# duplicate?
data_df.index.duplicated().sum()

0

In [20]:
# Cột output có bao nhiêu giá trị thiếu?
data_df['H_Dif'].isna().sum()

0

### Split data

In [28]:
# Tách X và y
y_sr = data_df["H_Dif"] # sr là viết tắt của series
X_df = data_df.drop("H_Dif", axis=1)

In [32]:
# Train-Validation-Test (70%-15%-15%)
# Split train set and remaning set (70%:30%)
train_X_df, remain_X_df, train_y_sr, remain_y_sr = \
                              train_test_split(X_df, y_sr, 
                                               train_size=0.8, 
                                               random_state=0)

# Split validation set and test set (50%:50%)
valid_X_df, test_X_df, valid_X_df_y_sr, test_y_sr = \
                              train_test_split(remain_X_df, remain_y_sr, 
                                               test_size=0.5,
                                               random_state=0)

In [33]:
print(train_X_df.shape)
print(valid_X_df.shape)
print(test_X_df.shape)

(2900, 29)
(363, 29)
(363, 29)

### Explore train data

In [35]:
train_X_df.dtypes

Date          object
H_aveTeam     object
H_ave3P      float64
H_ave3PA     float64
H_ave2P      float64
H_ave2PA     float64
H_aveFT      float64
H_aveFTA     float64
H_aveORB     float64
H_aveDRB     float64
H_aveAST     float64
H_aveSTL     float64
H_aveBLK     float64
H_aveTOV     float64
H_avePF      float64
A_aveTeam     object
A_ave3P      float64
A_ave3PA     float64
A_ave2P      float64
A_ave2PA     float64
A_aveFT      float64
A_aveFTA     float64
A_aveORB     float64
A_aveDRB     float64
A_aveAST     float64
A_aveSTL     float64
A_aveBLK     float64
A_aveTOV     float64
A_avePF      float64
dtype: object