In [1]:
import pandas as pd
import numpy as np
pd.set_option("max_columns", None) # view all cols

## Step 1: Prepare

### Get team name

In [2]:
dict_name = {}
with open('full_name.txt', 'r') as f:
    for line in f:
        name = line.split(',') # [short_name, full_name]
        dict_name[name[0]] = name[1].strip()
dict_name

{'GSW': 'Golden State Warriors',
 'HOU': 'Houston Rockets',
 'NOP': 'New Orleans Pelicans',
 'TOR': 'Toronto Raptors',
 'CLE': 'Cleveland Cavaliers',
 'DEN': 'Denver Nuggets',
 'PHI': 'Philadelphia 76ers',
 'MIN': 'Minnesota Timberwolves',
 'LAC': 'Los Angeles Clippers',
 'CHO': 'Charlotte Hornets',
 'LAL': 'Los Angeles Lakers',
 'OKC': 'Oklahoma City Thunder',
 'WAS': 'Washington Wizards',
 'BRK': 'Brooklyn Nets',
 'MIL': 'Milwaukee Bucks',
 'IND': 'Indiana Pacers',
 'POR': 'Portland Trail Blazers',
 'NYK': 'New York Knicks',
 'UTA': 'Utah Jazz',
 'BOS': 'Boston Celtics',
 'PHO': 'Phoenix Suns',
 'DET': 'Detroit Pistons',
 'MIA': 'Miami Heat',
 'ORL': 'Orlando Magic',
 'ATL': 'Atlanta Hawks',
 'CHI': 'Chicago Bulls',
 'SAS': 'San Antonio Spurs',
 'DAL': 'Dallas Mavericks',
 'MEM': 'Memphis Grizzlies',
 'SAC': 'Sacramento Kings'}

### Get column description

In [3]:
with open('raw_description.txt', 'r') as f:
    print(f.read())

Date : Date
H_Rk : Home Rank
H_Team : Home Team
H_G : Home Games
H_MP : Home Minutes Played
H_FG : Home Field Goals
H_FGA : Home Field Goal Attempts
H_FG% : Home Field Goal Percentage
H_3P : Home 3-Point Field Goals
H_3PA : Home 3-Point Field Goal Attempts
H_3P% : Home 3-Point Field Goal Percentage
H_2P : Home 2-Point Field Goals
H_2PA : Home 2-point Field Goal Attempts
H_2P% : Home 2-Point Field Goal Percentage
H_FT : Home Free Throws
H_FTA : Home Free Throw Attempts
H_FT% : Home Free Throw Percentage
H_ORB : Home Offensive Rebounds
H_DRB : Home Defensive Rebounds
H_TRB : Home Total Rebounds
H_AST : Home Assists
H_STL : Home Steals
H_BLK : Home Blocks
H_TOV : Home Turnovers
H_PF : Home Personal Fouls
H_PTS : Home Points
A_Rk : Away Rank
A_Team : Away Team
A_G : Away Games
A_MP : Away Minutes Played
A_FG : Away Field Goals
A_FGA : Away Field Goal Attempts
A_FG% : Away Field Goal Percentage
A_3P : Away 3-Point Field Goals
A_3PA : Away 3-Point Field Goal Attempts
A_3P% : Away 3-Point Field Goal Percentage
A_2P : Away 2-Point Field Goals
A_2PA : Away 2-point Field Goal Attempts
A_2P% : Away 2-Point Field Goal Percentage
A_FT : Away Free Throws
A_FTA : Away Free Throw Attempts
A_FT% : Away Free Throw Percentage
A_ORB : Away Offensive Rebounds
A_DRB : Away Defensive Rebounds
A_TRB : Away Total Rebounds
A_AST : Away Assists
A_STL : Away Steals
A_BLK : Away Blocks
A_TOV : Away Turnovers
A_PF : Away Personal Fouls
A_PTS : Away Points

### Get preseason stats

In [4]:
pre_stat_df = pd.read_csv('preseason_data.csv')
pre_stat_df.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1.0,Golden State Warriors,82,240.6,42.8,85.1,0.503,11.3,28.9,0.391,31.5,56.2,0.560,16.6,20.3,0.815,8.4,35.1,43.5,29.3,8.0,7.5,15.5,19.6,113.5
1,2.0,Houston Rockets,82,240.9,38.7,84.2,0.460,15.3,42.3,0.362,23.4,41.9,0.558,19.6,25.1,0.781,9.0,34.5,43.5,21.5,8.5,4.8,13.8,19.5,112.4
2,3.0,New Orleans Pelicans,82,243.4,42.7,88.3,0.483,10.2,28.2,0.362,32.5,60.1,0.540,16.1,20.9,0.772,8.7,35.7,44.3,26.8,8.0,5.9,14.9,19.1,111.7
3,4.0,Toronto Raptors,82,241.8,41.3,87.4,0.472,11.8,33.0,0.358,29.5,54.4,0.541,17.3,21.8,0.794,9.8,34.2,44.0,24.3,7.6,6.1,13.4,21.7,111.7
4,5.0,Cleveland Cavaliers,82,240.6,40.4,84.8,0.476,12.0,32.1,0.372,28.4,52.6,0.540,18.1,23.3,0.779,8.5,33.7,42.1,23.4,7.1,3.8,13.7,18.6,110.9

1. Drop unnecessary cols:
- Ranking: 
- Game: const 82
- '%': calculate
- 'PTS: 
2. Rename:

In [5]:
def getShortName(input_name):    
    for short_name, full_name in dict_name.items():
        if input_name == full_name:
            return short_name

pre_stat_df.drop(['Rk', 'G', 'MP', 'FG','FGA','FG%', '3P%', '2P%', 'FT%', 'TRB', 'PTS'], axis=1, inplace=True)
pre_stat_df['Team'] = [getShortName(name) for name in pre_stat_df['Team']]
pre_stat_df.head()

,Team,3P,3PA,2P,2PA,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF
0,GSW,11.3,28.9,31.5,56.2,16.6,20.3,8.4,35.1,29.3,8.0,7.5,15.5,19.6
1,HOU,15.3,42.3,23.4,41.9,19.6,25.1,9.0,34.5,21.5,8.5,4.8,13.8,19.5
2,NOP,10.2,28.2,32.5,60.1,16.1,20.9,8.7,35.7,26.8,8.0,5.9,14.9,19.1
3,TOR,11.8,33.0,29.5,54.4,17.3,21.8,9.8,34.2,24.3,7.6,6.1,13.4,21.7
4,CLE,12.0,32.1,28.4,52.6,18.1,23.3,8.5,33.7,23.4,7.1,3.8,13.7,18.6

In [6]:
# get col name
col_name = list(pre_stat_df.columns)
col_name

['Team',
 '3P',
 '3PA',
 '2P',
 '2PA',
 'FT',
 'FTA',
 'ORB',
 'DRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF']

### Get preseason elo

In [7]:
pre_elo_df = pd.read_csv('preseason_elo.csv').set_index('Name')
pre_elo_df.head()

       Elo
Name
GSW   1783
CLE   1613
HOU   1736
BOS   1592
UTA   1652

## Step 2: raw_data (from web scraping)

In [8]:
raw_df = pd.read_csv('raw_data.csv')
raw_df.head()

,Date,H_Team,H_MP,H_FG,H_FGA,H_FG%,H_3P,H_3PA,H_3P%,H_FT,H_FTA,H_FT%,H_ORB,H_DRB,H_TRB,H_AST,H_STL,H_BLK,H_TOV,H_PF,H_PTS,H_+/-,A_Team,A_MP,A_FG,A_FGA,A_FG%,A_3P,A_3PA,A_3P%,A_FT,A_FTA,A_FT%,A_ORB,A_DRB,A_TRB,A_AST,A_STL,A_BLK,A_TOV,A_PF,A_PTS,A_+/-
0,"July 20, 2021",MIL,240,37,82,0.451,6,27,0.222,25,29,0.862,11,42,53,20,10,6,18,17,105,NaN,PHO,240,38,86,0.442,6,25,0.240,16,19,0.842,6,31,37,14,11,4,14,21,98,NaN
1,"July 17, 2021",PHO,240,48,87,0.552,13,19,0.684,10,11,0.909,8,27,35,23,9,5,8,20,119,NaN,MIL,240,50,87,0.575,14,28,0.500,9,17,0.529,11,26,37,26,7,1,11,17,123,NaN
2,"July 14, 2021",MIL,240,39,97,0.402,7,29,0.241,24,29,0.828,17,31,48,22,11,3,5,18,109,NaN,PHO,240,40,78,0.513,7,23,0.304,16,19,0.842,5,35,40,18,3,9,17,24,103,NaN
3,"July 11, 2021",MIL,240,43,90,0.478,14,36,0.389,20,26,0.769,13,34,47,28,8,2,9,18,120,NaN,PHO,240,40,83,0.482,9,31,0.290,11,16,0.688,6,30,36,21,3,3,14,24,100,NaN
4,"July 8, 2021",PHO,240,43,88,0.489,20,40,0.500,12,14,0.857,11,32,43,26,7,2,12,19,118,NaN,MIL,240,42,93,0.452,9,31,0.290,15,23,0.652,18,28,46,21,8,7,9,17,108,NaN

In [9]:
raw_df.shape

(29, 43)

In [10]:
# no need total => drop
raw_df.drop(['H_TRB', 'A_TRB'], axis=1, inplace=True)

In [11]:
# no need % => drop
raw_df.drop(['H_FG%', 'H_3P%', 'H_FT%','A_FG%', 'A_3P%', 'A_FT%'], axis=1, inplace=True)

In [12]:
# replace ['H_PTS', 'A_PTS'] by ['H_Dif']
raw_df['H_Dif'] = raw_df.apply(lambda x: x['H_PTS'] - x['A_PTS'], axis=1)
raw_df.drop(['H_PTS', 'A_PTS'], axis = 1, inplace = True)
raw_df['H_Dif']

0      7
1     -4
2      6
3     20
4     10
5     13
6    -11
7     11
8    -27
9     22
10   -14
11   -11
12    -4
13    34
14    14
15    -3
16     1
17    -7
18     6
19    -4
20    12
21    -5
22    15
23    -8
24    -3
25     6
26    14
27     3
28    -7
Name: H_Dif, dtype: int64

In [13]:
raw_df.dtypes

Date       object
H_Team     object
H_MP        int64
H_FG        int64
H_FGA       int64
H_3P        int64
H_3PA       int64
H_FT        int64
H_FTA       int64
H_ORB       int64
H_DRB       int64
H_AST       int64
H_STL       int64
H_BLK       int64
H_TOV       int64
H_PF        int64
H_+/-     float64
A_Team     object
A_MP        int64
A_FG        int64
A_FGA       int64
A_3P        int64
A_3PA       int64
A_FT        int64
A_FTA       int64
A_ORB       int64
A_DRB       int64
A_AST       int64
A_STL       int64
A_BLK       int64
A_TOV       int64
A_PF        int64
A_+/-     float64
H_Dif       int64
dtype: object

In [14]:
num_cols = list(raw_df.select_dtypes(include=['int64', 'float64']).columns)
df = raw_df[num_cols]
def missing_percentage(c):
    return (c.isna().mean() * 100).round(1)
def median(c):
    return c.quantile(0.5).round(1)
df.agg([missing_percentage, 'min', median, 'max'])

,H_MP,H_FG,H_FGA,H_3P,H_3PA,H_FT,H_FTA,H_ORB,H_DRB,H_AST,H_STL,H_BLK,H_TOV,H_PF,H_+/-,A_MP,A_FG,A_FGA,A_3P,A_3PA,A_FT,A_FTA,A_ORB,A_DRB,A_AST,A_STL,A_BLK,A_TOV,A_PF,A_+/-,H_Dif
missing_percentage,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0
min,240.0,27.0,75.0,5.0,19.0,9.0,9.0,2.0,23.0,13.0,4.0,1.0,4.0,11.0,NaN,240.0,31.0,77.0,4.0,20.0,7.0,11.0,2.0,26.0,13.0,2.0,0.0,7.0,16.0,NaN,-27.0
median,240.0,39.0,85.0,12.0,34.0,19.0,24.0,10.0,34.0,22.0,7.0,3.0,10.0,19.0,NaN,240.0,40.0,86.0,11.0,31.0,14.0,19.0,10.0,31.0,19.0,6.0,4.0,11.0,21.0,NaN,3.0
max,265.0,50.0,102.0,20.0,54.0,31.0,38.0,17.0,42.0,31.0,14.0,7.0,18.0,28.0,NaN,265.0,53.0,98.0,21.0,47.0,29.0,32.0,18.0,47.0,27.0,11.0,9.0,19.0,32.0,NaN,34.0

In [15]:
# '+/-' missing 100% => drop
raw_df.drop(['H_+/-', 'A_+/-'], axis = 1, inplace = True)

In [16]:
# 'MP' median 240 => drop
raw_df.drop(['H_MP', 'A_MP'], axis = 1, inplace = True)

In [17]:
# Field Goal => 3P & 2P
raw_df['H_2P'] = raw_df.apply(lambda x: x['H_FG'] - x['H_3P'], axis=1)
raw_df['H_2PA'] = raw_df.apply(lambda x: x['H_FGA'] - x['H_3PA'], axis=1)
raw_df['A_2P'] = raw_df.apply(lambda x: x['A_FG'] - x['A_3P'], axis=1)
raw_df['A_2PA'] = raw_df.apply(lambda x: x['A_FGA'] - x['A_3PA'], axis=1)
raw_df.drop(['H_FG', 'H_FGA', 'A_FG', 'A_FGA'], axis=1, inplace=True)

In [18]:
lst_H = ['H_'+col for col in col_name]
lst_A = ['A_'+col for col in col_name]

In [19]:
# reorder new 2P cols
lst_new_cols = ['Date'] + lst_H + lst_A + ['H_Dif']
raw_df = raw_df[lst_new_cols]
raw_df.head()

,Date,H_Team,H_3P,H_3PA,H_2P,H_2PA,H_FT,H_FTA,H_ORB,H_DRB,H_AST,H_STL,H_BLK,H_TOV,H_PF,A_Team,A_3P,A_3PA,A_2P,A_2PA,A_FT,A_FTA,A_ORB,A_DRB,A_AST,A_STL,A_BLK,A_TOV,A_PF,H_Dif
0,"July 20, 2021",MIL,6,27,31,55,25,29,11,42,20,10,6,18,17,PHO,6,25,32,61,16,19,6,31,14,11,4,14,21,7
1,"July 17, 2021",PHO,13,19,35,68,10,11,8,27,23,9,5,8,20,MIL,14,28,36,59,9,17,11,26,26,7,1,11,17,-4
2,"July 14, 2021",MIL,7,29,32,68,24,29,17,31,22,11,3,5,18,PHO,7,23,33,55,16,19,5,35,18,3,9,17,24,6
3,"July 11, 2021",MIL,14,36,29,54,20,26,13,34,28,8,2,9,18,PHO,9,31,31,52,11,16,6,30,21,3,3,14,24,20
4,"July 8, 2021",PHO,20,40,23,48,12,14,11,32,26,7,2,12,19,MIL,9,31,33,62,15,23,18,28,21,8,7,9,17,10

### Step 2: Create dataframe

In [20]:
def get_recent(df, index, team_name, num_recent_games = 10):
    data = []
    
    while(len(data) < num_recent_games and index < len(df)):
        if (team_name == df.iloc[index]['H_Team']):
            data.append(list(df.iloc[index][lst_H]))
        elif (team_name == df.iloc[index]['A_Team']):
            data.append(list(df.iloc[index][lst_A]))
        index += 1
            
    if len(data) < num_recent_games:
        data.append(list(pre_stat_df.loc[pre_stat_df['Team'] == team_name].iloc[0]))
            
    return pd.DataFrame(data, columns = col_name).agg(['mean']).values.tolist()[0]

In [21]:
dict_pre_elo = {}
with open('preseason_elo.csv', 'r') as f:
    for i, line in enumerate(f):
        if i:
            t, elo = line.split(',')
            dict_pre_elo[t] = elo.strip()
            
dict_pre_elo

{'GSW': '1783',
 'CLE': '1613',
 'HOU': '1736',
 'BOS': '1592',
 'UTA': '1652',
 'PHI': '1638',
 'TOR': '1614',
 'NOP': '1600',
 'OKC': '1641',
 'POR': '1577',
 'IND': '1578',
 'MIN': '1565',
 'SAS': '1594',
 'MIL': '1511',
 'WAS': '1504',
 'MIA': '1485',
 'DEN': '1565',
 'LAC': '1502',
 'CHO': '1505',
 'LAL': '1469',
 'DET': '1467',
 'BRK': '1385',
 'NYK': '1369',
 'DAL': '1368',
 'SAC': '1345',
 'ORL': '1321',
 'ATL': '1319',
 'MEM': '1317',
 'CHI': '1288',
 'PHO': '1255'}

---

$R_i$: Elo of a team in $i^{th}$ match

$R_{i + 1} = k * (S_{team} - E_{team} + R_i)$

$S_{team} = 1$: win || $0$: lose

$E_{team} = \frac{1}{1 + 10^{\frac{oppElo - teamElo}{400}}}$

$k = 20 \frac{(MOV_{winner} + 3)^{0.8}}{7.5 + 0.006(\text{Elo_diff}_{winner})}$

$MOV_{winner} = winner_{score} - loser_{score}$

$\text{Elo_diff}_{winner} = winner_{elo} - loser_{elo}$

In [22]:
def K(MOV, elo_diff):
    f = 1 if MOV > 0 else -1 #factor
    k = 20 * (f * MOV + 3) ** (0.8) / (7.5 + 0.006 * (f * elo_diff))
    return k, k # win: +elo, lose: -elo

def elo_prediction(home_elo,away_elo):
    E_home = 1./(1 + 10 ** ((away_elo - home_elo) / (400.)))
    return E_home

def elo_update(H_dif, home_elo, away_elo):
    home_advan = 100. #home advantage
    home_elo += home_advan
    E_home = elo_prediction(home_elo, away_elo)
    E_away = 1 - E_home
    elo_diff = home_elo - away_elo
    MOV = H_dif # margin of victory
    
    S_home, S_away = (1, 0) if MOV > 0 else (0, 1)
    K_home, K_away = K(MOV, elo_diff)
        
    return K_home * (S_home - E_home), K_away * (S_away - E_away)

def pre_elo(df, index, team_name):
    while index < len(df):
        if (team_name == df.iloc[index]['H_Team']):
            return df.iloc[index]['H_Elo']
        elif (team_name == df.iloc[index]['A_Team']):
            return df.iloc[index]['A_Elo']
        index += 1
        
    return dict_pre_elo[team_name]

In [23]:
raw_df['H_Elo'], raw_df['A_Elo'] = np.zeros(len(raw_df)), np.zeros(len(raw_df))

for index in range(len(raw_df.index) - 1, -1, -1):
    H_name = raw_df.iloc[index]['H_Team']
    A_name = raw_df.iloc[index]['A_Team']
    
    H_pre_elo = pre_elo(raw_df, index, H_name)
    A_pre_elo = pre_elo(raw_df, index, A_name)
    
    H_new_elo, A_new_elo = elo_update(raw_df.iloc[index]['H_Dif'], H_pre_elo, A_pre_elo)
#     print(H_new_elo, A_new_elo )
    raw_df.at[index, 'H_Elo'] =  H_new_elo
    raw_df.at[index, 'A_Elo'] =  A_new_elo

In [24]:
raw_df.head()

,Date,H_Team,H_3P,H_3PA,H_2P,H_2PA,H_FT,H_FTA,H_ORB,H_DRB,H_AST,H_STL,H_BLK,H_TOV,H_PF,A_Team,A_3P,A_3PA,A_2P,A_2PA,A_FT,A_FTA,A_ORB,A_DRB,A_AST,A_STL,A_BLK,A_TOV,A_PF,H_Dif,H_Elo,A_Elo
0,"July 20, 2021",MIL,6,27,31,55,25,29,11,42,20,10,6,18,17,PHO,6,25,32,61,16,19,6,31,14,11,4,14,21,7,5.607497,-5.607497
1,"July 17, 2021",PHO,13,19,35,68,10,11,8,27,23,9,5,8,20,MIL,14,28,36,59,9,17,11,26,26,7,1,11,17,-4,-8.800015,8.800015
2,"July 14, 2021",MIL,7,29,32,68,24,29,17,31,22,11,3,5,18,PHO,7,23,33,55,16,19,5,35,18,3,9,17,24,6,5.154221,-5.154221
3,"July 11, 2021",MIL,14,36,29,54,20,26,13,34,28,8,2,9,18,PHO,9,31,31,52,11,16,6,30,21,3,3,14,24,20,10.918207,-10.918207
4,"July 8, 2021",PHO,20,40,23,48,12,14,11,32,26,7,2,12,19,MIL,9,31,33,62,15,23,18,28,21,8,7,9,17,10,6.917095,-6.917095

In [25]:
data = []

for index in range(len(raw_df.index)):
    row = [raw_df.iloc[index]['Date']]
    
    H_name = raw_df.iloc[index]['H_Team']
    row += [H_name]
    row += get_recent(raw_df, index, H_name)
    row += [raw_df.iloc[index]['H_Elo']]
    
    A_name = raw_df.iloc[index]['A_Team']
    print(index, A_name)
    row += [A_name]
    row += get_recent(raw_df, index, A_name)
    row += [raw_df.iloc[index]['A_Elo']]
    
    row += [raw_df.iloc[index]['H_Dif']]
    data.append(row)

0 PHO
1 MIL
2 PHO
3 PHO
4 MIL
5 MIL
6 MIL
7 ATL
8 PHO
9 MIL
10 LAC
11 MIL
12 PHO
13 ATL
14 PHO
15 ATL
16 LAC
17 ATL
18 LAC
19 MIL
20 UTA
21 PHI
22 BRK
23 LAC
24 ATL
25 MIL
26 UTA
27 PHI
28 PHO

In [26]:
lst_H_ave = ['H_Team'] + ['H_ave' + col for col in col_name[1:]] + ['H_Elo']
lst_A_ave = ['A_Team'] + ['A_ave' + col for col in col_name[1:]] + ['A_Elo']
lst_ave_cols = lst_new_cols = ['Date'] + lst_H_ave + lst_A_ave + ['H_Dif']
df = pd.DataFrame(data, columns=lst_new_cols)
df.head()

,Date,H_Team,H_ave3P,H_ave3PA,H_ave2P,H_ave2PA,H_aveFT,H_aveFTA,H_aveORB,H_aveDRB,H_aveAST,H_aveSTL,H_aveBLK,H_aveTOV,H_avePF,H_Elo,A_Team,A_ave3P,A_ave3PA,A_ave2P,A_ave2PA,A_aveFT,A_aveFTA,A_aveORB,A_aveDRB,A_aveAST,A_aveSTL,A_aveBLK,A_aveTOV,A_avePF,A_Elo,H_Dif
0,"July 20, 2021",MIL,11.10,32.90,30.70,56.40,16.50,22.60,13.20,33.20,23.60,8.40,3.90,11.30,18.1,5.607497,PHO,10.6,28.1,30.1,58.3,14.4,17.0,8.7,33.7,20.9,6.2,4.0,12.1,20.8,-5.607497,7
1,"July 17, 2021",PHO,10.60,28.20,30.40,57.80,14.40,16.90,8.80,33.80,21.90,5.60,3.90,11.60,20.7,-8.800015,MIL,12.0,34.3,31.1,56.4,15.0,21.3,13.7,32.1,24.5,8.8,3.6,11.0,18.4,8.800015,-4
2,"July 14, 2021",MIL,11.40,35.10,31.40,57.10,15.20,21.00,13.80,32.80,24.60,8.70,3.90,10.70,18.1,5.154221,PHO,10.6,29.5,30.5,56.7,14.3,16.7,8.7,34.7,22.7,5.2,3.7,11.5,20.3,-5.154221,6
3,"July 11, 2021",MIL,12.20,35.80,31.00,56.50,14.20,20.20,13.90,32.70,24.40,8.50,4.30,10.90,18.3,10.918207,PHO,10.7,29.4,30.8,57.5,15.6,17.9,8.9,35.3,22.7,5.5,3.4,11.2,20.0,-10.918207,20
4,"July 8, 2021",PHO,10.73,29.09,30.61,58.22,16.27,18.69,9.33,35.69,22.73,5.89,3.55,11.37,19.8,6.917095,MIL,11.5,35.5,31.1,56.0,14.5,20.4,14.1,32.9,23.0,8.9,4.7,11.3,17.8,-6.917095,10

In [27]:
df.to_csv('data.csv', encoding='utf-8', index=False)

In [28]:
def write_new_description():
    with open('raw_description.txt', 'r') as f:
        desc = {'Elo':'Elo\n'}
        for i, line in enumerate(f.readlines()):
            c, d = line.split(' : ')
            if i:
                desc[c[2:]] = d[5:]
            else:
                desc[c] = d

    with open('description.txt', 'w') as f:
        f.write('Date'+ ' : ' + desc['Date'])
        for col in lst_new_cols[1:-1]:
            h_str = 'Home ' if 'H_' in col else 'Away '
            ave_str = 'Average ' if 'ave' in col else ''

            main = col.replace('H_', '').replace('A_', '').replace('ave', '')

            f.write(col + ' : ' + h_str + ave_str + desc[main])
            
        f.write('H_Dif'+ ' : ' + 'Difference between home score and away score (H_Dif > 0: Home win)')

In [29]:
write_new_description()