In [1]:
import pandas as pd
# import numpy as np
pd.set_option("max_columns", None) # all df cols

from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import OneHotEncoder, StandardScaler
# from sklearn.impute import SimpleImputer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline, make_pipeline
# from sklearn.compose import ColumnTransformer, make_column_transformer
# from sklearn.neural_network import MLPClassifier
from sklearn import set_config
set_config(display='diagram') # Để trực quan hóa pipeline

## Step 1: Prepare

### Get team name

In [2]:
dict_name = {}
with open('full_name.txt', 'r') as f:
    for line in f:
        name = line.split(',') # [short_name, full_name]
        dict_name[name[0]] = name[1].strip()
dict_name

{'ATL': 'Atlanta Hawks',
 'BRK': 'Brooklyn Nets',
 'BOS': 'Boston Celtics',
 'CHO': 'Charlotte Hornets',
 'CHI': 'Chicago Bulls',
 'CLE': 'Cleveland Cavaliers',
 'DAL': 'Dallas Mavericks',
 'DEN': 'Denver Nuggets',
 'DET': 'Detroit Pistons',
 'GSW': 'Golden State Warriors',
 'HOU': 'Houston Rockets',
 'IND': 'Indiana Pacers',
 'LAC': 'Los Angeles Clippers',
 'LAL': 'Los Angeles Lakers',
 'MEM': 'Memphis Grizzlies',
 'MIA': 'Miami Heat',
 'MIL': 'Milwaukee Bucks',
 'MIN': 'Minnesota Timberwolves',
 'NOP': 'New Orleans Pelicans',
 'NYK': 'New York Knicks',
 'OKC': 'Oklahoma City Thunder',
 'ORL': 'Orlando Magic',
 'PHI': 'Philadelphia 76ers',
 'PHO': 'Phoenix Suns',
 'POR': 'Portland Trail Blazers',
 'SAC': 'Sacramento Kings',
 'SAS': 'San Antonio Spurs',
 'TOR': 'Toronto Raptors',
 'UTA': 'Utah Jazz',
 'WAS': 'Washington Wizards'}

### Get column description

In [3]:
lst_description = []
with open('description.txt', 'r') as f:
    for line in f:
        lst_description.append(line.strip())
lst_description

['Date : Date',
 'Time : Time',
 'H_Name : Home Team',
 'H_MP : Home Minutes Played',
 'H_FG : Home Field Goals',
 'H_FGA : Home Field Goal Attempts',
 'H_FG% : Home Field Goal Percentage',
 'H_3P : Home 3-Point Field Goals',
 'H_3PA : Home 3-Point Field Goal Attempts',
 'H_3P% : Home 3-Point Field Goal Percentage',
 'H_FT : Home Free Throws',
 'H_FTA : Home Free Throw Attempts',
 'H_FT% : Home Free Throw Percentage',
 'H_ORB : Home Offensive Rebounds',
 'H_DRB : Home Defensive Rebounds',
 'H_TRB : Home Total Rebounds',
 'H_AST : Home Assists',
 'H_STL : Home Steals',
 'H_BLK : Home Blocks',
 'H_TOV : Home Turnovers',
 'H_PF : Home Personal Fouls',
 'H_PTS : Home Points',
 'H_+/- : Home Plus/Minus',
 'A_Name : Away Team',
 'A_MP : Away Minutes Played',
 'A_FG : Away Field Goals',
 'A_FGA : Away Field Goal Attempts',
 'A_FG% : Away Field Goal Percentage',
 'A_3P : Away 3-Point Field Goals',
 'A_3PA : Away 3-Point Field Goal Attempts',
 'A_3P% : Away 3-Point Field Goal Percentage',
 'A_FT : Away Free Throws',
 'A_FTA : Away Free Throw Attempts',
 'A_FT% : Away Free Throw Percentage',
 'A_ORB : Away Offensive Rebounds',
 'A_DRB : Away Defensive Rebounds',
 'A_TRB : Away Total Rebounds',
 'A_AST : Away Assists',
 'A_STL : Away Steals',
 'A_BLK : Away Blocks',
 'A_TOV : Away Turnovers',
 'A_PF : Away Personal Fouls',
 'A_PTS : Away Points',
 'A_+/- : Away Plus/Minus']

### Get preseason stats

In [4]:
pre_stat_df = pd.read_csv('preseason_data.csv')
pre_stat_df.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Milwaukee Bucks,82,241.2,43.4,91.1,0.476,13.5,38.2,0.353,29.9,52.9,0.565,17.9,23.2,0.773,9.3,40.4,49.7,26.0,7.5,5.9,13.9,19.6,118.1
1,2,Golden State Warriors,82,241.5,44.0,89.8,0.491,13.3,34.4,0.385,30.8,55.3,0.557,16.3,20.4,0.801,9.7,36.5,46.2,29.4,7.6,6.4,14.3,21.4,117.7
2,3,New Orleans Pelicans,82,240.9,43.7,92.2,0.473,10.3,29.9,0.344,33.4,62.4,0.536,17.8,23.4,0.761,11.1,36.2,47.3,27.0,7.4,5.4,14.8,21.1,115.4
3,4,Philadelphia 76ers,82,241.5,41.5,88.2,0.471,10.8,30.2,0.359,30.7,58.0,0.529,21.2,27.5,0.771,10.9,36.9,47.8,26.9,7.4,5.3,14.9,21.3,115.2
4,5,Los Angeles Clippers,82,241.8,41.3,87.5,0.471,10.0,25.8,0.388,31.3,61.7,0.507,22.6,28.5,0.792,9.7,35.8,45.5,24.0,6.8,4.7,14.5,23.3,115.1

1. Drop unnecessary cols:
- Ranking: 
- Game: const 82
- '%': calculate
- 'PTS: 
2. Rename:

In [5]:
def getShortName(input_name):    
    for short_name, full_name in dict_name.items():
        if input_name == full_name:
            return short_name

pre_stat_df.drop(['Rk', 'G', 'MP', 'FG','FGA','FG%', '3P%', '2P%', 'FT%', 'PTS'], axis=1, inplace=True)
pre_stat_df['Team'] = [getShortName(name) for name in pre_stat_df['Team']]
pre_stat_df.head()

,Team,3P,3PA,2P,2PA,FT,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF
0,MIL,13.5,38.2,29.9,52.9,17.9,23.2,9.3,40.4,49.7,26.0,7.5,5.9,13.9,19.6
1,GSW,13.3,34.4,30.8,55.3,16.3,20.4,9.7,36.5,46.2,29.4,7.6,6.4,14.3,21.4
2,NOP,10.3,29.9,33.4,62.4,17.8,23.4,11.1,36.2,47.3,27.0,7.4,5.4,14.8,21.1
3,PHI,10.8,30.2,30.7,58.0,21.2,27.5,10.9,36.9,47.8,26.9,7.4,5.3,14.9,21.3
4,LAC,10.0,25.8,31.3,61.7,22.6,28.5,9.7,35.8,45.5,24.0,6.8,4.7,14.5,23.3

In [6]:
# get col name
col_name = list(pre_stat_df.columns)
col_name

['Team',
 '3P',
 '3PA',
 '2P',
 '2PA',
 'FT',
 'FTA',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF']

### Get preseason elo

In [7]:
pre_elo_df = pd.read_csv('preseason_elo.csv').set_index('Name')
pre_elo_df.head()

       Elo
Name
TOR   1805
GSW   1863
MIL   1801
POR   1662
HOU   1773

## Step 2: raw_data (from web scraping)

In [8]:
raw_df = pd.read_csv('raw_data.csv')
raw_df.head()

,Date,Time,H_Team,H_MP,H_FG,H_FGA,H_FG%,H_3P,H_3PA,H_3P%,H_FT,H_FTA,H_FT%,H_ORB,H_DRB,H_TRB,H_AST,H_STL,H_BLK,H_TOV,H_PF,H_PTS,H_+/-,A_Team,A_MP,A_FG,A_FGA,A_FG%,A_3P,A_3PA,A_3P%,A_FT,A_FTA,A_FT%,A_ORB,A_DRB,A_TRB,A_AST,A_STL,A_BLK,A_TOV,A_PF,A_PTS,A_+/-
0,"October 16, 2018",8:00 PM,BOS,240,42,97,0.433,11,37,0.297,10,14,0.714,12,43,55,21,7,5,14,20,105,NaN,PHI,240,34,87,0.391,5,26,0.192,14,23,0.609,6,41,47,18,8,5,16,20,87,NaN
1,"October 16, 2018",10:30 PM,GSW,240,42,95,0.442,7,26,0.269,17,18,0.944,17,41,58,28,7,7,21,29,108,NaN,OKC,240,33,91,0.363,10,37,0.270,24,37,0.649,16,29,45,21,12,6,14,21,100,NaN
2,"October 17, 2018",7:00 PM,CHO,240,41,92,0.446,16,38,0.421,14,22,0.636,9,32,41,21,8,9,11,19,112,NaN,MIL,240,42,85,0.494,14,34,0.412,15,20,0.750,11,46,57,26,5,4,21,25,113,NaN
3,"October 17, 2018",7:00 PM,DET,240,39,92,0.424,6,24,0.250,19,22,0.864,14,32,46,21,5,5,14,20,103,NaN,BRK,240,40,82,0.488,5,27,0.185,15,22,0.682,5,34,39,28,9,5,17,23,100,NaN
4,"October 17, 2018",7:00 PM,IND,240,47,83,0.566,10,26,0.385,7,13,0.538,13,44,57,29,2,7,20,24,111,NaN,MEM,240,25,84,0.298,10,29,0.345,23,28,0.821,7,21,28,16,11,3,7,18,83,NaN

In [9]:
raw_df.shape

(3626, 44)

In [10]:
# no nead % => drop
raw_df.drop(['H_FG%', 'H_3P%', 'H_FT%','A_FG%', 'A_3P%', 'A_FT%'], axis=1, inplace=True)

In [11]:
# replace ['H_PTS', 'A_PTS'] by ['H_Dif']
raw_df['H_Dif'] = raw_df.apply(lambda x: x['H_PTS'] - x['A_PTS'], axis=1)
raw_df.drop(['H_PTS', 'A_PTS'], axis = 1, inplace = True)
raw_df['H_Dif']

0       18
1        8
2       -1
3        3
4       28
        ..
3621    10
3622    20
3623     6
3624    -4
3625     7
Name: H_Dif, Length: 3626, dtype: int64

In [12]:
raw_df.dtypes

Date       object
Time       object
H_Team     object
H_MP        int64
H_FG        int64
H_FGA       int64
H_3P        int64
H_3PA       int64
H_FT        int64
H_FTA       int64
H_ORB       int64
H_DRB       int64
H_TRB       int64
H_AST       int64
H_STL       int64
H_BLK       int64
H_TOV       int64
H_PF        int64
H_+/-     float64
A_Team     object
A_MP        int64
A_FG        int64
A_FGA       int64
A_3P        int64
A_3PA       int64
A_FT        int64
A_FTA       int64
A_ORB       int64
A_DRB       int64
A_TRB       int64
A_AST       int64
A_STL       int64
A_BLK       int64
A_TOV       int64
A_PF        int64
A_+/-     float64
H_Dif       int64
dtype: object

In [13]:
num_cols = list(raw_df.select_dtypes(include=['int64', 'float64']).columns)
df = raw_df[num_cols]
def missing_percentage(c):
    return (c.isna().mean() * 100).round(1)
def median(c):
    return c.quantile(0.5).round(1)
df.agg([missing_percentage, 'min', median, 'max'])

,H_MP,H_FG,H_FGA,H_3P,H_3PA,H_FT,H_FTA,H_ORB,H_DRB,H_TRB,H_AST,H_STL,H_BLK,H_TOV,H_PF,H_+/-,A_MP,A_FG,A_FGA,A_3P,A_3PA,A_FT,A_FTA,A_ORB,A_DRB,A_TRB,A_AST,A_STL,A_BLK,A_TOV,A_PF,A_+/-,H_Dif
missing_percentage,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0
min,240.0,21.0,64.0,2.0,10.0,2.0,4.0,1.0,18.0,22.0,10.0,0.0,0.0,1.0,6.0,NaN,240.0,25.0,63.0,2.0,12.0,3.0,4.0,0.0,19.0,24.0,10.0,0.0,0.0,2.0,7.0,NaN,-57.0
median,240.0,41.0,88.0,12.0,33.0,17.0,23.0,10.0,35.0,45.0,25.0,7.0,5.0,13.0,20.0,NaN,240.0,41.0,88.0,12.0,33.0,17.0,22.0,10.0,34.0,44.0,24.0,7.0,5.0,13.0,21.0,NaN,3.0
max,340.0,63.0,124.0,28.0,70.0,44.0,52.0,25.0,55.0,70.0,50.0,22.0,20.0,28.0,38.0,NaN,340.0,60.0,119.0,29.0,63.0,41.0,54.0,26.0,55.0,71.0,41.0,19.0,14.0,29.0,35.0,NaN,53.0

In [14]:
# '+/-' missing 100% => drop
raw_df.drop(['H_+/-', 'A_+/-'], axis = 1, inplace = True)

In [15]:
# 'MP' median 240 => drop
raw_df.drop(['H_MP', 'A_MP'], axis = 1, inplace = True)

In [16]:
# Field Goal => 3P & 2P
raw_df['H_2P'] = raw_df.apply(lambda x: x['H_FG'] - x['H_3P'], axis=1)
raw_df['H_2PA'] = raw_df.apply(lambda x: x['H_FGA'] - x['H_3PA'], axis=1)
raw_df['A_2P'] = raw_df.apply(lambda x: x['A_FG'] - x['A_3P'], axis=1)
raw_df['A_2PA'] = raw_df.apply(lambda x: x['A_FGA'] - x['A_3PA'], axis=1)
raw_df.drop(['H_FG', 'H_FGA', 'A_FG', 'A_FGA'], axis=1, inplace=True)

In [17]:
lst_H = ['H_'+col for col in col_name]
lst_A = ['A_'+col for col in col_name]

In [18]:
# reorder new 2P cols
lst_new_cols = ['Date'] + lst_H + lst_A + ['H_Dif']
raw_df = raw_df[lst_new_cols]
raw_df.head()

,Date,H_Team,H_3P,H_3PA,H_2P,H_2PA,H_FT,H_FTA,H_ORB,H_DRB,H_TRB,H_AST,H_STL,H_BLK,H_TOV,H_PF,A_Team,A_3P,A_3PA,A_2P,A_2PA,A_FT,A_FTA,A_ORB,A_DRB,A_TRB,A_AST,A_STL,A_BLK,A_TOV,A_PF,H_Dif
0,"October 16, 2018",BOS,11,37,31,60,10,14,12,43,55,21,7,5,14,20,PHI,5,26,29,61,14,23,6,41,47,18,8,5,16,20,18
1,"October 16, 2018",GSW,7,26,35,69,17,18,17,41,58,28,7,7,21,29,OKC,10,37,23,54,24,37,16,29,45,21,12,6,14,21,8
2,"October 17, 2018",CHO,16,38,25,54,14,22,9,32,41,21,8,9,11,19,MIL,14,34,28,51,15,20,11,46,57,26,5,4,21,25,-1
3,"October 17, 2018",DET,6,24,33,68,19,22,14,32,46,21,5,5,14,20,BRK,5,27,35,55,15,22,5,34,39,28,9,5,17,23,3
4,"October 17, 2018",IND,10,26,37,57,7,13,13,44,57,29,2,7,20,24,MEM,10,29,15,55,23,28,7,21,28,16,11,3,7,18,28

### Step 2: Create dataframe

In [19]:
def median(c):
    return c.quantile(0.5)

def get_recent(df, index, team_name, num_recent_games = 10):
    data = []
    
    while(len(data) < num_recent_games and index > 0):
        index -= 1
        if (team_name == df.iloc[index]['H_Team']):
            data.append(list(df.iloc[index][lst_H]))
        elif (team_name == df.iloc[index]['A_Team']):
            data.append(list(df.iloc[index][lst_A]))
            
    if index < num_recent_games:
        data.append(list(pre_stat_df.loc[pre_stat_df['Team'] == team_name].iloc[0]))
            
    return pd.DataFrame(data, columns = col_name).agg([median]).values.tolist()[0]

In [20]:
raw_df.iloc[12]

Date      October 17, 2018
H_Team                 PHO
H_3P                    19
H_3PA                   34
H_2P                    25
H_2PA                   47
H_FT                    14
H_FTA                   16
H_ORB                    6
H_DRB                   38
H_TRB                   44
H_AST                   35
H_STL                    5
H_BLK                    2
H_TOV                   11
H_PF                    22
A_Team                 DAL
A_3P                    10
A_3PA                   33
A_2P                    28
A_2PA                   55
A_FT                    14
A_FTA                   20
A_ORB                   10
A_DRB                   28
A_TRB                   38
A_AST                   28
A_STL                    7
A_BLK                    5
A_TOV                    9
A_PF                    16
H_Dif                   21
Name: 12, dtype: object

In [23]:
data = []

for index in range(len(raw_df.index)):
    row = [raw_df.iloc[index]['Date']]
    
    H_name = raw_df.iloc[index]['H_Team']
    row += [H_name]
    row += get_recent(raw_df, index, H_name)
    
    A_name = raw_df.iloc[index]['A_Team']
    row += [A_name]
    row += get_recent(raw_df, index, A_name)
    
    row += [raw_df.iloc[index]['H_Dif']]
    data.append(row)

,Date,H_Team,H_3P,H_3PA,H_2P,H_2PA,H_FT,H_FTA,H_ORB,H_DRB,H_TRB,H_AST,H_STL,H_BLK,H_TOV,H_PF,A_Team,A_3P,A_3PA,A_2P,A_2PA,A_FT,A_FTA,A_ORB,A_DRB,A_TRB,A_AST,A_STL,A_BLK,A_TOV,A_PF,H_Dif
0,"October 16, 2018",BOS,12.6,34.5,29.5,56.0,15.6,19.5,9.8,34.7,44.5,26.3,8.6,5.3,12.8,20.4,PHI,10.8,30.2,30.7,58.0,21.2,27.5,10.9,36.9,47.8,26.9,7.4,5.3,14.9,21.3,18
1,"October 16, 2018",GSW,13.3,34.4,30.8,55.3,16.3,20.4,9.7,36.5,46.2,29.4,7.6,6.4,14.3,21.4,OKC,11.4,32.6,31.3,61.3,17.8,25.0,12.6,35.5,48.1,23.4,9.3,5.2,14.0,22.4,8
2,"October 17, 2018",CHO,11.9,33.9,28.3,55.8,18.4,23.1,9.9,33.9,43.8,23.2,7.2,4.9,12.2,18.9,MIL,13.5,38.2,29.9,52.9,17.9,23.2,9.3,40.4,49.7,26.0,7.5,5.9,13.9,19.6,-1
3,"October 17, 2018",DET,12.1,34.8,26.7,53.5,17.3,23.1,11.4,33.6,45.0,22.5,6.9,4.0,13.8,22.1,BRK,12.8,36.2,27.5,53.6,19.0,25.5,11.0,35.6,46.6,23.8,6.6,4.1,15.1,21.5,3
4,"October 17, 2018",IND,9.5,25.4,31.8,61.6,15.8,21.1,9.3,33.7,43.0,26.0,8.7,4.9,13.7,19.4,MEM,9.9,28.9,28.1,55.6,17.7,23.0,8.8,33.0,41.8,23.9,8.3,5.5,14.0,22.0,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3621,"July 8, 2021",PHO,10.5,28.5,30.5,57.5,16.5,19.0,7.0,36.5,43.0,24.0,5.0,3.0,9.5,19.0,MIL,12.0,36.0,29.0,53.5,13.5,20.0,13.0,33.0,47.0,22.5,8.5,5.0,12.5,18.0,10
3622,"July 11, 2021",MIL,10.0,36.0,31.5,57.0,14.0,21.0,14.5,33.0,47.0,22.5,8.5,5.0,12.0,18.0,PHO,10.5,28.5,30.5,57.5,16.5,19.0,7.0,35.0,43.0,24.0,5.5,3.0,11.0,19.0,20
3623,"July 14, 2021",MIL,12.5,36.0,31.0,57.0,14.0,21.0,13.5,33.0,47.0,25.5,8.0,4.5,10.0,18.0,PHO,9.5,31.0,30.5,57.5,14.0,17.0,7.0,35.0,43.0,23.0,5.0,3.0,11.0,19.5,6
3624,"July 17, 2021",PHO,9.5,31.0,30.5,56.5,14.0,17.0,7.0,34.5,43.0,23.0,5.0,3.0,11.0,19.5,MIL,10.0,36.0,32.5,57.0,14.5,21.0,13.5,33.0,47.0,25.5,8.0,3.5,10.0,18.0,-4
3625,"July 20, 2021",MIL,12.5,33.5,32.5,57.0,14.5,21.0,13.5,32.0,47.0,25.0,8.0,3.0,11.0,18.0,PHO,9.5,28.5,30.5,57.0,14.0,17.0,7.5,33.0,42.0,22.5,5.0,3.0,11.0,20.0,7

In [24]:
df = pd.DataFrame(data, columns=lst_new_cols)
df.head()

,Date,H_Team,H_3P,H_3PA,H_2P,H_2PA,H_FT,H_FTA,H_ORB,H_DRB,H_TRB,H_AST,H_STL,H_BLK,H_TOV,H_PF,A_Team,A_3P,A_3PA,A_2P,A_2PA,A_FT,A_FTA,A_ORB,A_DRB,A_TRB,A_AST,A_STL,A_BLK,A_TOV,A_PF,H_Dif
0,"October 16, 2018",BOS,12.6,34.5,29.5,56.0,15.6,19.5,9.8,34.7,44.5,26.3,8.6,5.3,12.8,20.4,PHI,10.8,30.2,30.7,58.0,21.2,27.5,10.9,36.9,47.8,26.9,7.4,5.3,14.9,21.3,18
1,"October 16, 2018",GSW,13.3,34.4,30.8,55.3,16.3,20.4,9.7,36.5,46.2,29.4,7.6,6.4,14.3,21.4,OKC,11.4,32.6,31.3,61.3,17.8,25.0,12.6,35.5,48.1,23.4,9.3,5.2,14.0,22.4,8
2,"October 17, 2018",CHO,11.9,33.9,28.3,55.8,18.4,23.1,9.9,33.9,43.8,23.2,7.2,4.9,12.2,18.9,MIL,13.5,38.2,29.9,52.9,17.9,23.2,9.3,40.4,49.7,26.0,7.5,5.9,13.9,19.6,-1
3,"October 17, 2018",DET,12.1,34.8,26.7,53.5,17.3,23.1,11.4,33.6,45.0,22.5,6.9,4.0,13.8,22.1,BRK,12.8,36.2,27.5,53.6,19.0,25.5,11.0,35.6,46.6,23.8,6.6,4.1,15.1,21.5,3
4,"October 17, 2018",IND,9.5,25.4,31.8,61.6,15.8,21.1,9.3,33.7,43.0,26.0,8.7,4.9,13.7,19.4,MEM,9.9,28.9,28.1,55.6,17.7,23.0,8.8,33.0,41.8,23.9,8.3,5.5,14.0,22.0,28

In [ ]:
df.to_csv('data.csv', encoding='utf-8', index=False)